button {
  border-radius: 10px;
  background-color: #76c3c1;
  background-image: none;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  border: none;
  padding: 10px 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

//header
.header_wrapper {
  position: fixed;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  .navbar-brand {
    img {
      width: 50px;
    }
  }
  .navbar-nav {
    a {
      color: #474c68;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: 0px 10px;
    }
    a:hover {
      color: red;
    }
    a:focus {
      color: #0082f3;
      border-bottom: 3px solid #76c3c1;
    }
    .nav-item {
      text-transform: uppercase;
    }
  }
  .nav-link:hover {
    color: red;
  }
  .nav-link:focus {
    color: #0082f3;
    border-bottom: 3px solid #76c3c1;
  }
}

//banner style
.Banner_wrapper {
  width: 100%;
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  padding: 8% 0 5% 0;

  .Banner_content {
    display: flex;
    .left_div {
      width: 40%;
      h2 {
        color: #474c68;
        font-size: 43px;
        line-height: 48px;
        font-weight: 500;
        text-align: left;
      }
      p {
        color: #474c68;
        font-size: 20px;
        line-height: 26px;
        text-align: left;
        padding-top: 10px;
      }
    }
    .right_div {
      width: 60%;
      .home_banner_image {
        width: 100%;
        animation: homeImageAnimation 5s linear 2s infinite alternate;
      }
    }

    @keyframes homeImageAnimation {
    0%{
      transform: skew(0deg,0deg);
    }
    100%{
      transform: skew(10deg,-1deg);
    }
    }
  }
}



//management style
.manage_wrapper {
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  padding: 4% 0;
  .manage_content {
    display: flex;
    gap: 60px;
    .left_div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      img {
        width: 100%;
        background-image: linear-gradient(130deg, #cedcb4, #77b1ac);
        border-radius: 50%;
      }
    }
    .right_div {
      width: 60%;
      text-align: left;
      h2 {
        font-size: 38px;
        line-height: 44px;
        color: #474c68;
      }
      p {
        color: #474c68;
        font-size: 15px;
        font-weight: 500;
        padding-top: 10px;
      }
      button {
        margin: auto;
      }
    }
  }
}

//feature styles
.feature_wrapper {
  background-image: radial-gradient(
      circle closest-side at 50% 50%,
      #fcf3f3,
      hsla(0, 0%, 54.7%, 0.26)
    ),
    linear-gradient(180deg, hsla(0, 0%, 100%, 0.91), hsla(0, 0%, 100%, 0.91)),
    url(assets/logo_header.png);
  background-position: 0px 0px, 0px 0px, 94% 30%;
  background-size: auto, auto, auto;
  background-repeat: repeat, repeat, no-repeat;
  padding: 5% 2%;
  .feature_content {
    img {
      width: 65px;
    }
    .feat_heading {
      margin-bottom: 58px;
      color: #474c68;
      text-align: center;
      font-size: 38px;
      line-height: 44px;
    }
    .header_box {
      display: flex;
      gap: 10px;
      text-align: left;
      h3 {
        color: #474c68;
        font-size: 20px;
        line-height: 26px;
      }
    }
    .feat_text {
      color: #474c68;
      line-height: 18px;
      font-weight: 500;
      text-align: left;
      font-size: 14px;
      padding: 15px 0;
    }
  }
}

//footer styles
.footer_wrapper {
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  padding: 5% 0;
  text-align: left;
  .logo {
    img {
      width: 200px;
    }
  }
  .footer-text {
    color: #474c68;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0;
  }
  .footer-adds {
    font-size: 14px;
    line-height: 20px;
    color: #474c68;
    font-weight: 400;
  }
  .link-head {
    color: #474c68;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      color: #474c68;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;
      padding: 10px 0;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.about_wrapper {
  background-image: linear-gradient(94deg, #c9c9c9, #fff);
  .row {
    padding: 15px 0;
  }
  h1 {
    color: #474c68;
    font-size: 46px;
    padding-top: 8%;
    margin-bottom: 8%;
  }
  h2 {
    font-size: 38px;
    line-height: 44px;
    color: #474c68;
    text-align: left;
  }
  p {
    color: #474c68;
    font-size: 18px;
    text-align: left;
    line-height: 23px;
  }
  ul {
    padding: 0;
    li {
      text-align: left;
      padding: 5px 0;
    }
  }
  img {
    width: 50%;
  }
}

.apply_wrapper {
  height: 100%;
  max-height: 100%;
  padding-top: 5%;
  background-image: linear-gradient(
      352deg,
      transparent,
      rgba(192, 220, 255, 0.5)
    ),
    linear-gradient(94deg, #c9c9c9, #fff);
  h2 {
    color: #474c68;
    line-height: 44px;
    text-align: left;
    font-size: 38px;
    font-weight: bold;
  }
  p {
    color: #474c68;
    font-size: 30px;
    line-height: 36px;
    margin-top: 30px;
    text-align: left;
  }
  img {
    margin: 15%;
  }
  form {
    text-align: left;
    div {
      padding: 8px 0;
      position: relative;
      margin-bottom: 5px;
      label {
        padding-bottom: 5px;
        color: #474c68;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }
      .form-select {
        margin: 10px 0px 0px 0px;
      }
      input {
        height: 38px;
      }
      select {
        height: 38px;
      }
      .sub_btn {
        display: flex;
        justify-content: flex-end;
      }
      .form_error,
      .form_error_select,
      .form_error_message {
        font-size: 10.5px;
        color: red;
        position: absolute;
        top: 35px;
      }
      .form_error_select {
        top: 20px !important;
      }
      .form_error_message {
        top: 60px !important;
      }
    }
  }
}
//product style


.product_main{
  overflow-x: hidden;
  .product_hero_banner{
      background-image: linear-gradient(355deg, transparent, #b0cccc), linear-gradient(94deg, #c9c9c9, #fff);

      .product_hero_image{
        width:60%;
        object-fit: contain;
        z-index: -10;
        margin-left: 550px;
        margin-top: -50px;
      }
      h2{
        margin: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 38px;
        line-height: 44px;
      }
  }

  .MuiTabs-indicator{
    display: none;
  }

  .main_tab_context{
    display: flex;
    flex-direction:row;
    width:100%;
    margin-left: 5%;
    margin-top: -80px;
    .tabs_wrapper{
      width:fit-content;
      padding: 10px 20px;
      h4{
        margin-bottom: 30px;
      }
    }
    .tabs_content_wrapper{
      width:70%;
      background-image: linear-gradient(355deg, transparent, rgba(192, 220, 255, 0.5)), linear-gradient(94deg, #c9c9c9, #fff);
    }
    .tab{
      background-color: #474c68;
      color:white;
      margin-bottom: 15px;
      position: relative;
    }

    .learn_more_button {
      margin-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
      align-self: auto;
      border-radius: 10px;
      background-color: #76c3c1;
      background-image: none;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 14px;
      position: absolute;
      bottom:-50px;
      right:100px;
  }
  
  }

  .battery_wrapper{
    width:100%;
    object-fit: contain;
    margin-top: 10px;
    background-color:#e8e8e8;
  }

  .battery_swapping_station_wrapper{
   margin-top: 70px; 
  }

  .product_end_footer_wrapper{
    display: flex;
    justify-content: space-between;
    width:95%;
    margin-left: 2.5%;
    margin-top:50px;
    background: url(https://uploads-ssl.webflow.com/60f0139…/63e3879…_3D%20Connections.PNG), linear-gradient(180deg, #e5e7e7, #e5e7e7);
    img{
      width:50%;
    }
  }
}


.tab_one_content{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: left;

  .sub_content{
    width:33%;
    position: relative;
    .learn_more_button{
      bottom: -100px;
      position: absolute;
      right:0px;
    }
  }


}
.tab_heading{
  font-size: 32px;
    line-height: 36px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.66);
    font-weight: bold;
    color: #474c68;
    margin-bottom: 20px;
  
}

.tab_two_content{
  text-align: left;
  margin-top: 10px;
  line-height: 36px;
  margin-bottom: 15px;
  align-self: stretch;
  width: 97%;
  font-weight: bold;
  color: #474c68;

  h3{
    margin: 20px 0px 20px 0px;
  }
  
}
